#back-button {
  outline: none;
  background: none;
  border: none;

  border-radius: 100px;
  padding: 0px;

  height: 24px;
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}
