$fade: #99919166;
$white: #fff;
$gray-50: #fafafa;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dfe0eb;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #6e6e6e;
$gray-800: #373a3c;
$gray-900: #212121;
$black: #000;

$indigo: #6610f2;
$purple: #6f42c1;
$cyan: #9954bb;
$light-cyan: #d7d9ee;

$pale-cerulean: #384cbc;
$dark-blue: #325a77;
$teal: #36b9cc;
$blue: #3faeff;
$light-blue: #7486e8;

$red: #f12b2c;
$raspberrysorbet: #d93025;
$pink: #e83e8c;

$desert-sand: #e67a50;
$orange: #ee7f01;
$yellow: #fec400;
$dutch-white: #e4bb56;

$green: #29cc97;
$greenash: #a0daa9;

$transparent-black: rgba(0, 0, 0, 0.4);
